<div class="notification-container">
  <div class="header">Logs</div>
  <ul id="notifications-list" class="notification-list">
    {{#each logs}}
    <li class="notification-item">
      <div class="notification-icon">🔔</div>
      <div class="notification-content">
        <div class="notification-content-inner">
          <i class="notification-title">
            {{#if this.user.userName}}
            {{{this.user.userName}}}
            {{else}}
            deleted
            {{/if}}

            : Triggered a change.

          </i>

        </div>
        <p class="notification-time">{{{this.createdAt}}}</p>
        <h3 style="color:black" class="notification-time">Packet: { "color":"

          {{{this.colorCode}}}", "index":"{{{this.user.index}}}", "effect":"{{{this.effect}}}"
          , "brightness":"{{{this.brightness}}}" }</h3>
      </div>
    </li>
    {{/each}}

  </ul>
</div>

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script>
  const listItem = document.getElementById("notifications-list"); const
    logSocket = io('/logs'); logSocket.on('connect', () => {
      logSocket.emit('joinRoom', 'room1');
    }); logSocket.on('log_notify', (data) => {
      console.log('Notification:', data); listItem.innerHTML = `
    <li class="notification-item">
      <div class="notification-icon">🔔</div>
      <div class="notification-content">
        <div class="notification-content-inner">
          <i class="notification-title">
            ${data.user.userName}
            : Triggered a change.

          </i>

        </div>
        <p class="notification-time">{{{this.createdAt}}}</p>
        <h3 style="color:black" class="notification-time">Packet: { "color":"

          ${data.colorCode}", "index":"${data.user.index}", "effect":"${data.effect}"
          , "brightness":"${data.brightness}" }</h3>
      </div>
    </li>
  
  ` + listItem.innerHTML;
    });
</script>